*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

body{
    background: linear-gradient(to left, rgb(56, 56, 56), rgb(1, 1, 39))
}

.comtainer{
    display: flex;
}

.calculadora1{
    background-color: black;
    color: white;
    height: 550px;
    width: 300px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
}

.btn{
    background-color: rgb(44, 44, 44, 0.7);
    color: white;
    width: 56px;
    height: 56px;
    cursor: pointer;
    font-size: 28px;
    margin: 4px;
    border: 0;
    border-radius: 100%;
    font-weight: 500;
}
#display{
 
    height: 40%;
    width: 100%;
    background-color: black;
    color: white;
    border: 0;
    padding: 15px;
    text-align: right;
    font-size: 35px;
    font-weight: 500;
    outline: none;
}
#btn-rojo{
    color: red;
    font-weight: 800;  
    grid-column: span 2;
}

#btn-verde{
    color: rgb(39, 128, 39);
    font-weight: 800;
}

#btn-fondoVerde{
    background-color: rgb(39, 128, 39);
    font-weight: 800;
}
#barra{
    color: aliceblue;
    font-size: 200%;
}


#calculadora2{
    margin: auto;
    margin-top: 25px;
    width: 600px;
    height: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    color: aliceblue;

}

#resultado{
    margin: auto;
    margin-top: 50px;
    color: aliceblue;
}


#form-cal2{
    font-size: 18px;
}

#form-cal2 #n1, #n2{
    font-weight: 800;
}